.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &.name {
        width: 30%;
        margin-right: 5px;
      }

      &.quantity {
        width: 20%;
      }

      &.price {
        width: 19%;
      }

      &:last-child {
        width: 8%;

      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }

  .delivery-info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
